@{
    ViewData["Title"] = "Users";
}



@{
    foreach (var user in @Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
                <p class="card-text">@user.Email</p>
                <p class="card-text">@user.PhoneNumber</p>
                <a href="@Url.Action("EditUser", "Users", new { id = user.Id })" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("Delete", "Users", new { id = user.Id })" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}