@model IEnumerable<HardPedia.Models.ViewModels.CategorySubjectsViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Categories</h1>
    @foreach (var category in Model)
    {
            <div class="category">
                <h2>@category.CategoryName</h2>
                <p>@category.CategoryDescription</p>
                <ul>
                @foreach (var subject in category.Subjects)
                {
                            <li>@subject.Title</li>
                }
                </ul>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                    @for (int i = 1; i <= category.TotalPages; i++)
                    {
                                <li class="page-item @(i == category.CurrentPage ? "active" : "")">
                                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                                </li>
                    }
                    </ul>
                </nav>
            </div>
    }
</div>
