<div class="container">
    <h1>Categories</h1>
    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@category.Name</h5>
                        <p class="card-text">@category.Description</p>
                        <ul class="list-group list-group-flush">
                            @foreach (var subject in category.Subjects)
                            {
                                <li class="list-group-item">@subject.Title</li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("EditCategory", "Home", new { id = category.Id })" class="btn btn-primary">Edit</a>
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('@category.Name', '@Url.Action("DeleteCategory", "Home", new { id = category.Id })')">Delete</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function confirmDelete(categoryName, deleteUrl) {
        if (confirm("Are you sure you want to delete the category '" + categoryName + "'?")) {
            window.location.href = deleteUrl;
        }
    }
</script>
