@using HardPedia.Models.Domain
@model List<Category>

<script src="~/js/site.js"></script>
@{
    List<Category> categories = Model;
    ViewData["Title"] = "Categories";
}

<div class="container">
    <h1>Categories</h1>
    @foreach (Category category in Model)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@category.Name</h5>
                    <p class="card-text">@category.Description</p>
                    <ul class="list-group list-group-flush">
                        @foreach (var subject in category.Subjects)
                        {
                            <div class="subject-title">
                                <a href="@Url.Action("ListSubject", "Subject", new { id = subject.Id })" class="subject-link">@subject.Title</a>
                            </div>
                            <p>@subject.GetShortContent()</p>
                            <a asp-controller="Comment" asp-action="AddComment" asp-route-subjectId="@subject.Id" class="btn btn-primary">Add Comment</a>
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@category.Id" class="btn btn-primary">Edit</a>
                    <button type="button" class="btn btn-danger" onclick="confirmDelete('@category.Name', '@Url.Action("DeleteCategory", "Category", new { id = category.Id })')">Delete</button>
                    <a asp-controller="Subject" asp-action="AddSubject" asp-route-categoryId="@category.Id" class="btn btn-primary">Add Subject</a>
                </div>
            </div>
        </div>
    }
</div>
