@using HardPedia.Models.Domain
@model List<Category>

@foreach (Category category in Model)
{
    <div class="col mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@category.Name</h5>
                <p class="card-text">@category.Description</p>
                <div id="subject-container-@category.Id" class="subject-container">
                    @{
                        var latestSubject = category.Subjects.OrderByDescending(s => s.CreatedOn).FirstOrDefault();
                        if (latestSubject != null)
                        {
                            <div class="subject-content" data-current-subject-id="@latestSubject.Id">
                                <div class="subject-title">
                                    <a href="@Url.Action("ListSubject", "Subject", new { id = latestSubject.Id })" class="subject-link h4">@latestSubject.Title</a>
                                </div>
                                <p>@latestSubject.GetShortContent()</p>

                            </div>
                        }
                    }
                </div>
                @if (category.Subjects.Count > 1)
                {
                    <div class="pagination-buttons">
                        <button class="btn btn-secondary" onclick="fetchSubject('@category.Id', '@Url.Action("GetSubject", "Category")', 'previous')">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-secondary" onclick="fetchSubject('@category.Id', '@Url.Action("GetSubject", "Category")', 'next')">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                }
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Moderator"))
                {
                    <div class="card-footer">
                        <a asp-controller="Category" asp-action="EditCategory" asp-route-id="@category.Id" class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i>  Edit</a>
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('@category.Name', '@Url.Action("DeleteCategory", "Category", new { id = category.Id })')"><i class="fa-regular fa-trash-can"></i>  Delete</button>
                        <a asp-controller="Subject" asp-action="AddSubject" asp-route-categoryId="@category.Id" class="btn btn-info"><i class="fa-regular fa-square-plus"></i>  Add Subject</a>
                    </div>
                }
                else
                {
                    <div class="card-footer">
                        <a asp-controller="Subject" asp-action="AddSubject" asp-route-categoryId="@category.Id" class="btn btn-info"><i class="fa-regular fa-square-plus"></i>  Add Subject</a>
                    </div>
                }
            }
        </div>
    </div>
}
